body {
  background-color: #E5E5E5;
  height: 100%; }

main {
  padding-top: 50px;
  text-align: center; }
  main h1 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 200; }
  main button, main select, main label, main input {
    margin: 0 0.5rem; }
  main form {
    margin-top: 1rem; }
